
@model CapaModelo.Modelos.mEspacioTrabajo
@{
    ViewBag.Title = "Espacios de Trabajo";
}

<h2>Mantenimiento Espacios de Trabajo</h2>

<div class="row">
    <div class="col-md-4">

        <form method="post" action="/espacioTrabajo/create" id="formulario">
            <input type="number" hidden id="id" name="id">

            <div class="form-group">
                <label for="nombre">Nombre Espacio de Trabajo</label>
                <input required type="text" class="form-control" id="nombre" name="nombre">
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Espacio de Trabajo</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Espacio_Trabajos)
                {
                    <tr>
                        <td>@item.ID_Espacio</td>
                        <td>@item.Nombre_Espacio</td>
                        @if (@item.FlagActivo)
                        {
                            <td style="color: forestgreen">Activo</td>
                        }
                        else
                        {
                            <td style="color: darkred">Inactivo</td>
                        }
                        <td>
                            <button type="button" class="btn btn-info btn-sm" onclick="editar(@item.ID_Espacio, '@item.Nombre_Espacio',)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="eliminar(@item.ID_Espacio, @item.FlagActivo)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>

<script>
    function editar(id, nombre) {
        $("#id").val(id);
        $("#nombre").val(nombre);
    }

    function eliminar(id, activo) {
        const opcion = confirm(activo ? "Desea Eliminar?" : "Desea Reactivar?");

        if (!opcion)
            return;

        $.ajax({
            type: "POST",
            url: "/EspacioTrabajo/Delete/" + id,
            success: () => location.reload(),
        });
    }
</script>

