
@{
    ViewBag.Title = "Index";
    var list = ViewBag.List;
}

<h2>Mantenimiento Libros</h2>

<div class="row">
    <div class="col-md-4">

        <form method="post" action="/libros/create" id="formulario">
            <input type="number" hidden id="id" name="id">

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input required type="text" class="form-control" id="nombre" name="nombre">
            </div>

            <div class="form-group">
                <label for="autor">Autor</label>
                <input required type="text" class="form-control" id="autor" name="autor">
            </div>

            <div class="form-group">
                <label for="genero">Genero</label>
                <input required type="text" class="form-control" id="genero" name="genero">
            </div>

            <div class="form-group">
                <label for="paginas">Paginas</label>
                <input required type="number" class="form-control" id="paginas" name="paginas" min="1">
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Autor</th>
                    <th>Genero</th>
                    <th>Paginas</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in list)
                {
                    <tr>
                        <td>@item.ID_Libro</td>
                        <td>@item.Nombre_Libro</td>
                        <td>@item.Nombre_Autor</td>
                        <td>@item.Genero</td>
                        <td>@item.Numero_Paginas</td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm" onclick="editar(@item.ID_Libro,'@item.Nombre_Libro','@item.Nombre_Autor','@item.Genero','@item.Numero_Paginas')">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="eliminar(@item.ID_Libro)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>

<script>
    function editar(id, nombre, autor, genero, paginas) {
        $("#id").val(id);
        $("#nombre").val(nombre);
        $("#autor").val(autor);
        $("#genero").val(genero);
        $("#paginas").val(paginas);
    }

    function eliminar(id) {
        const opcion = confirm("Desea Eliminar?");

        if (!opcion)
            return;

        $.ajax({
            type: "POST",
            url: "/Libros/Delete/" + id,
            success: () => location.reload(),
        });
    }
</script>

